*.rbc
/be/capybara-*.html
.rspec
/be/db/*.sqlite3
/be/db/*.sqlite3-journal
/be/db/*.sqlite3-[0-9]*
/be/public/system
/be/coverage/
/be/spec/tmp
*.orig
/be/rerun.txt
/be/pickle-email-*.html

/be/log/*
/be/tmp/*
!/log/.keep
!/tmp/.keep
/be/config/initializers/secret_token.rb
/be/config/master.key
/be/.env
/be/.env*.local
/be/.bundle
/be/vendor/bundle
/be/.rvmrc
/be/vendor/assets/bower_components
*.bowerrc
/be/bower.json

/be/.powenv

/be/.byebug_history

/be/node_modules/
/fe/node_modules/
/fe/.env

/be/public/packs
/be/public/packs-test
/be/public/assets

/be/storage/*
!/storage/.keep
/be/public/uploads